<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- UTF-8 is the character encoding HTML5 spec encourages; it covers the large majority of possible characters & symbols. -->
    <!-- all values of http-equiv are name of HTTP headers; when the value is "X-UA-Compatible, the content attribute must have the value IE=edge" -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- to make the site mobile-optimized: -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" ></script>
    <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- React -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <!-- <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script> -->
    <script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <!-- TODO: Remove commented out scripts -->
    <div id="root"></div>
    <script src="/static/js/api.js"></script>
    <!-- <script type="text/jsx" src="/static/components/mapJS.jsx"></script> -->
    <!-- <script type="text/jsx" src="/static/components/mapEmbed.jsx"></script> -->
    <script type="text/jsx" src="/static/components/card.jsx"></script>
    <script type="text/jsx" src="/static/components/cardList.jsx"></script>
    <script type="text/jsx" src="/static/components/searchForm.jsx"></script>

    <!-- Page scripts -->
    <script type="text/jsx" src="/static/pages/homeLoggedInPage.jsx"></script>

    <!-- This is the main component, so it needs to be last -->
    <script type="text/jsx" src="/static/components/app.jsx"></script>
</body>
</html>