<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- UTF-8 is the character encoding HTML5 spec encourages; it covers the large majority of possible characters & symbols. -->
    <!-- all values of http-equiv are name of HTTP headers; when the value is "X-UA-Compatible, the content attribute must have the value IE=edge" -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- to make the site mobile-optimized: -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/jsx" src="/static/hello.jsx">
</body>
</html>